#automator-container{
    margin: 0 auto;
    max-width: 2000px;
    width: 90%;
    text-align: left;

    #auto-complete-container{
        margin: 0 0 20px 0;
        div.MuiAutocomplete-root{
            width: 100%;
        }
    }

    #add-test-action-btn-container{
        margin: 0 0 20px 0;
    }

    #test-case-name-container{
        margin: 0 0 20px 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        div.MuiTextField-root{
            width: 100% !important; 
        }

    }

    #card-container{
        padding: 10px;
        overflow-y: scroll;
        height: 60vh;
        #card{
            margin-bottom: 10px;
    
            #close-button{
                float: right;
            }

            .card-body{
                display: flex;
                flex-direction: row;
                div{
                    width: 50%;
                }
            }
        }

    }
    #generate-btn-container{
        width: 100%;
        margin: 20px 0px;
    }
    #generated-script-container{
        width: 100%;
        div.MuiTextField-root{
            width: 100%;
        }
    }

}