.pass{
    background-color: rgb(100,255,100) !important;
}

.fail{
    background-color: rgb(255,100,100) !important;
}

#auto-complete-container {
    margin: 30px;
}

#test-result-container{
    margin: 0 30px 30px 30px;

}

.test-result-category{
    position: sticky;
    background-color: royalblue;
}

.test-result-category-children{
    padding: 0;
}